@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@layer theme ,base, components, utilities;
@theme {
  --navbar-height: 72px;
  --color-primary: #b5c16a;
  --color-secondary: #ccdee0;
  --color-highlight: #007bff;
  --text-color-primary: var(--color-green-900);
  --text-color-secondary: var(--color-green-500);
  --border-color: #8c9c02;
  --border-color-secondary: #56638a;
  --button-color: #61a1ab;
  --button-hover-color: #c16ab5;
  --background-color: #fffaf0;
}

@font-face {
  font-family: 'Faker Pearl';
  src:
    local('Faker Pearl'),
    url('../static/fonts/FakePearl-Regular.woff') format('woff');
}

@layer components {
  p {
    font-size: var(--text-base);
    color: var(--color-gray-700);
  }
  li {
    font-size: var(--text-base);
    color: var(--color-gray-700);
  }
  h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-semibold);
    color: var(--text-color-primary);
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--text-color-primary);
  }
  h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-semibold);
    color: var(--text-color-primary);
  }
  header {
    background-color: var(--color-primary);
  }
  nav {
    background-color: transparent;
  }
  .mobile-menu {
    background-color: var(--color-primary);
  }
  footer {
    background-color: var(--color-primary);
  }
  .border-base {
    border-width: 6px;
    border-radius: var(--radius-lg);
  }
  button {
    background-color: var(--button-color);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: var(--button-hover-color);
    }
  }
  .birthstone-regular {
    font-family: 'Birthstone', cursive;
    font-weight: 400;
    font-style: normal;
  }
  .faker-pearl-regular {
    font-family: 'Faker Pearl';
  }
  .divider {
    border-color: var(--color-secondary);
    border-width: 1px;
  }
}
